.banner {
	margin-top: 70px;
	height: 100vh;

	&::before {
		content: '';
		position: absolute;
		display: block;
		z-index: -1;
		width: 100%;
		height: 100vh;
		background-image: url('../../public/imgs/foto-banner-1.jpg');
		background-size: cover;
		background-position: center;
		animation-name: fadeIn1;
		animation-duration: .7s;
	}

	&.b1 {
		&::before {
			animation-name: fadeIn1;
			animation-duration: .7s;		
		}
	}

	&.b2 {
		&::before {
			background-image: url('../../public/imgs/foto-banner-2.jpg');
			animation-name: fadeIn2;
			animation-duration: .7s;
		}
	}

	&.b3 {
		&::before {
			background-image: url('../../public/imgs/foto-banner-3.jpg');
			animation-name: fadeIn3;
			animation-duration: .7s;
		}
	}

	// &.fade {
	// 	&::before {
	// 		// animation-play-state: paused;
	// 		animation-name: fadeInOut;
	// 		animation-duration: .7s;
	// 		animation-delay: .3s;
	// 	}
	// }

	@include tamanho-tela(desktop-up) {
		margin-top: 0px;
	}

	.content-banner {
		height: inherit;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.titulo-banner {
		color: $c-pri;
		font-family: 'Modern Machine', Arial, Helvetica, sans-serif;
		font-weight: normal;
		font-style: normal;
		font-size: .8em;

		@include tamanho-tela('tablet') {
			font-size: 1.5em;
		}

		@include tamanho-tela('desktop') {
			font-size: 1.7em;
		}

		@include tamanho-tela('desktop-up') {
			font-size: 2.125rem;
		}

		h1 {
			position: relative;
			width: fit-content;
			margin: 40px auto 0px;

			@include tamanho-tela('desktop-up') {
				margin: 100px auto 0px;
			}

			&::after {
				content: '';
				width: 100%;
				height: 5px;
				display: block;
				background: $c-pri;
				margin: 10px 0px 10px 0px;

				@include tamanho-tela('desktop-up') {
					height: 10px;
					margin: 10px 0px 40px 0px;
				}
			}
		}

		p {
			font-size: 1.6em;

			span:first-child {
				color: $light;
			}

			span:last-child {
				font-size: 1.1em;
			}
		}
	}

	.next-section {
		cursor: pointer;
		img {
			width: 3em;
			margin-bottom: 6em;
		}
	}
}
