@keyframes runenergy {
	0% {
		transform: translate(0%, -50%);
	}

	50% {
		transform: translate(-30%, -50%);
	}

	100% {
		transform: translate(0%, -50%);
	}
}

@keyframes openMenu {
	0% {
		transform: translateX(150%);
	}

	100% {
		transform: translateX(0%);
	}
}

@keyframes closeMenu {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(150%);
	}
}

@keyframes fadeIn1 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeIn2 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeIn3 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes animaTexto {
	0% {
		opacity: 0;
		transform: translateY(-20%);
	}

	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes arrowAnimate {

	0%,
	30% {
		transform: scale3d(0, 0, 0) rotate3d(2, 2, 2, -360deg);
	}

	40% {
		transform: scale3d(.8, .8, .8) rotate3d(2, 2, 2, 0deg);
	}

	45% {
		transform: scale3d(1.2, 1.2, 1.2) rotate3d(2, 2, 2, 0deg);
	}

	95% {
		transform: scale3d(1, 1, 1) rotate3d(2, 2, 2, 0deg);
	}

	100% {
		transform: scale3d(0, 0, 0) rotate3d(2, 2, 2, 300deg);
	}
}

@keyframes slideAnimateRight {
	0% {
		transform: translate(-200px, -50%);
		opacity: 0;
	}

	100% {
		transform: translateX(0px, -50%);
		opacity: 1;
	}
}

@keyframes slideAnimateLeft {
	0% {
		transform: translate(200px, -50%);
		opacity: 0;
	}

	100% {
		transform: translateX(0px, -50%);
		opacity: 1;
	}
}

.anima-fade {
	animation-name: animaTexto;
	animation-duration: .4s;
}

.no-anima-fade {
	opacity: 0;
	transform: translateY(-20%);
}
