@font-face {
  font-family: 'Modern Machine';
  src: url('../fonts/ModernMachine.eot');
  src: url('../fonts/ModernMachine.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ModernMachine.woff2') format('woff2'),
      url('../fonts/ModernMachine.woff') format('woff'),
      url('../fonts/ModernMachine.ttf') format('truetype'),
      url('../fonts/ModernMachine.svg#ModernMachine') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Modern Machine';
  src: url('../fonts/ModernMachine-Italic.eot');
  src: url('../fonts/ModernMachine-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ModernMachine-Italic.woff2') format('woff2'),
      url('../fonts/ModernMachine-Italic.woff') format('woff'),
      url('../fonts/ModernMachine-Italic.ttf') format('truetype'),
      url('../fonts/ModernMachine-Italic.svg#ModernMachine-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff'),
      url('../fonts/Roboto-Bold.ttf') format('truetype'),
      url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

