body,
html,
* {
	margin: 0;
	padding: 0;
}

html,
body {
	overflow-x: hidden;
	scroll-behavior: smooth;
	position: relative;
}

body {
	background-color: $c-sec;
	color: $dark;	
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: normal;
	text-align: center;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

.container {
	margin: 0 auto;
	width: 100%;
}
.row {
	margin: 0px 1em;
	margin-bottom: 3.75rem;
}
