.subtitulo {
	font-size: 1.225em;
	font-family: 'Modern Machine',
		Arial,
		Helvetica,
		sans-serif;
	font-weight: normal;
	font-style: normal;
	letter-spacing: .1em;
	line-height: 1.4em;
	margin-bottom: 2.5em;

	.sep {
		position: relative;
		width: 140px;
		height: 8px;
		display: block;
		margin: 10px auto 0px;
		background-color: $c-pri;

		&::after {
			content: '';
			width: 70px;
			height: 8px;
			bottom: 0;
			right: 3px;
			transform: skew(-40deg, 0deg);
			position: absolute;
			display: block;
			margin: 10px auto 0px;
			background-color: $c-ter;
		}

		&::before {
			content: '';
			width: 70px;
			height: 8px;
			bottom: 0;
			right: 0px;
			position: absolute;
			display: block;
			margin: 10px auto 0px;
			background-color: $c-ter;
		}
	}

}

.subtitulo-two {
	font-family: 'Modern Machine',
		Arial,
		Helvetica,
		sans-serif;
	font-weight: normal;
	font-style: normal;
	color: $light;
	padding: 20px 0px;
	font-size: 1.6em;
	letter-spacing: .05em;
	width: 100%;
	height: auto;
	background-color: $c-pri;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 60px;
}

.subtitulo-three {
	font-family: 'Roboto';
	font-weight: normal;
	font-style: normal;
	font-size: 1.6em;
	line-height: 1.1;
	margin-bottom: 45px;
}

// área sobre
.sobre {
	padding-top: 3.75rem;
	justify-content: center;

	@include tamanho-tela('desktop') {
		.content {
			display: flex;
			margin: 0 auto;
			justify-content: space-between;
			align-items: flex-start;
			width: 1140px;
		}
	}

	p {
		margin-bottom: 2em;
		color: $c-qua;
		line-height: 1.2;
		font-size: 1.125em;
	}
}

.conteudo {
	@include tamanho-tela('desktop') {
		width: 510px;
		text-align: left;
	}
}

.slider {
	position: relative;
	padding: 30px 0px;
	height: 350px;

	@include tamanho-tela('tablet') {
		width: 450px;
		height: 450px;
		margin: 0 auto;
	}

	@include tamanho-tela('desktop-up') {
		margin: 0;
		padding: 0;
	}

	.imagem-slide {
		position: absolute;
		width: 100%;
		height: inherit;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		justify-content: center;

		&.animationR {
			animation-name: slideAnimateRight;
			animation-duration: 1s;
		}

		&.animationL {
			animation-name: slideAnimateLeft;
			animation-duration: 1s;
		}

		.content-image {}
	}

	.arrow-slide {
		position: absolute;
		background-color: $c-ter;
		width: 2.5em;
		height: 2.5em;
		z-index: 100;
		cursor: pointer;
		top: 50%;
		transform: translateY(-50%);

		&::after {
			content: '';
			display: block;
			width: 10px;
			height: 7px;
			background-color: $c-ter;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		&::before {
			content: '';
			display: block;
			width: 1.25em;
			height: inherit;
			background-color: $c-pri;
			z-index: 99;
		}

		&.left {
			left: 0;

			&::after {
				left: 40%;
			}
		}

		&.right {
			right: 0;
			background-color: $c-pri;

			&::before {
				background-color: $c-ter;
			}

			&::after {
				left: 30%;
			}

			.arrow {
				transform: rotateY(180deg);
				right: -2px;
			}
		}

		.arrow {
			background: url('../../public/imgs/icon-arrow-slide.svg') no-repeat;
			background-size: 12px 21px;
			background-position: center;
			display: block;
			width: inherit;
			height: inherit;
			z-index: 100;
			position: absolute;
			top: 0;
			right: 2px;
		}

	}

	.description {
		font-family: 'Modern Machine', Arial, Helvetica, sans-serif;
		font-weight: normal;
		font-style: normal;
		color: $dark;
		font-size: 1.375em;
		line-height: 1.2;
		margin-top: 20px;

		.destaque {
			color: $destaque;
		}
	}
}

// área produto
.produto {
	.produto-content {
		@include tamanho-tela('desktop-up') {
			display: flex;
			justify-content: space-between;
			align-items: top;
			width: 1140px;
			margin: 0 auto;
		}
	}

	.lista-itens-produto {
		@include tamanho-tela('tablet') {
			margin: 0 auto;
			display: block;
			width: 490px;
		}

		@include tamanho-tela('desktop-up') {
			margin-top: 40px;
		}

		ul {
			margin-bottom: 30px;

			li {
				text-align: left;
				font-size: 1.2em;
				line-height: 1.5;

				@include tamanho-tela('desktop-up') {
					font-size: 1em;
				}

				&::before {
					content: url('../../public/imgs/icon-energy.svg');
					display: inline-block;
					margin-right: .3em;
				}

				&::after {
					content: '';
					width: 100%;
					height: 2px;
					background-color: $c-pri;
					display: block;
					margin: 15px 0px;

					@include tamanho-tela('desktop-up') {
						display: none;
					}
				}

				&:last-child {
					&::after {
						display: none;
					}
				}
			}
		}
	}

	.produto-antes-depois {
		#prods {
			display: flex;
			align-items: center;
			justify-content: center;
			max-width: 510px;
			margin: 0 auto;

			.img-hand {
				display: none;

				@include tamanho-tela('desktop-up') {
					display: block;
					width: 48px;
					height: 48px;
				}

				img {
					display: block;
					width: inherit;
					height: inherit;
				}
			}
		}

		.img-p {
			img {
				@extend %imagesStyleDefault;

				@include tamanho-tela('desktop-up') {
					width: 212px;
				}
			}
		}

		.image-produto-one {
			padding-right: 8px;
		}

		.image-produto-two {
			padding-left: 8px;
		}
	}

	.arrow-curve {
		margin-top: 10px;

		img {
			transform: scale3d(.8, .8, .8) rotate3d(2, 2, 2, 120deg);
			animation-name: arrowAnimate;
			animation-duration: 8s;
			animation-iteration-count: infinite;
		}
	}
}

// área serviços
.servicos {
	.lista-servicos {
		@include tamanho-tela('tablet') {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		.servicos-item {
			@include tamanho-tela('tablet') {
				padding: 0 15px;
				width: 240px;
			}

			@include tamanho-tela('desktop-up') {
				text-align: left;
			}

			h4 {
				font-size: 1.5em;
				margin-top: 20px;
			}

			ul {
				margin: 1em 0em 90px;

				li {
					&::before {
						content: url('../../public/imgs/icon-energy.svg');
						display: inline-block;
						margin-right: .3em;
					}
				}
			}

			img {
				width: 240px;
				height: 240px;
				display: block;
				margin: 0 auto;
				@extend %imagesStyleDefault;
				cursor: pointer;
				transition: .2s ease-in-out;

				&:hover {
					filter: grayscale(80%);
					box-shadow: 11px 11px 20px 5px rgba($dark, .3);
					transform: scale(1.03);
				}
			}
		}
	}
}

.light-box {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba($dark, .8);
	display: none;

	&.openModal {
		display: block;
	}

	.conteudo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80%;
		padding: 1em;
		max-width: 750px;
		background-color: $c-sec;
		border: 2px solid $c-pri;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-height: calc(100vh - 70px);
		overflow-y: auto;

		@include tamanho-tela('desktop-up') {
			flex-wrap: nowrap;
			max-height: initial;
		}

		.image-produto {
			width: 430px;

			img {
				width: inherit;
			}
		}

		.close-modal {
			position: absolute;
			top: 1%;
			right: 1%;
			background-color: $dark;
			border-radius: 50px;
			padding: .5em;
			width: 26px;
			height: 26px;
			cursor: pointer;

			@include tamanho-tela('desktop-up') {
				padding: .2em;
			}

			&:hover {
				background-color: $c-pri;

				svg {
					path {
						stroke: $light
					}
				}
			}

			svg {
				path {
					stroke: $c-pri;
				}
			}
		}

		.description-produto {
			width: 300px;
			max-width: 100%;


			h3 {
				font-size: 1.4rem;
				font-family: 'Modern Machine', Arial, Helvetica, sans-serif;
				font-style: normal;
				font-weight: normal;
				margin: 1em 0;

				@include tamanho-tela('desktop-up') {
					font-size: 1.7rem;
				}
			}
		}
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

// área contato 
.contato {
	color: $light;
	background-color: $c-pri;
	padding-bottom: 2em;

	.row {
		@include tamanho-tela('desktop-up') {
			width: 1140px;
			display: flex;
			justify-content: space-around;
			align-items: top;
			margin: 0 auto;
		}
	}

	.sub-contato {
		box-shadow: none;
		padding-bottom: 0;
		margin-bottom: 40px;

		@include tamanho-tela('desktop-up') {
			padding: 60px 0px 50px 0px;
			margin-bottom: 0px;
		}
	}

	.formulario-contato {
		@include tamanho-tela('tablet') {
			width: 600px;
			margin: 0 auto;
		}

		@include tamanho-tela('desktop-up') {
			width: 420px;
		}

		fieldset {
			padding: 0;
			width: 100%;
			display: block;
		}

		legend {
			font-size: 1.225em;
			margin-bottom: 30px;
			text-transform: uppercase;
			line-height: 1.3;

			@include tamanho-tela('desktop-up') {
				text-align: left;
			}
		}

		label {
			display: block;
			text-align: left;
			text-transform: uppercase;
			margin-bottom: 5px;
			color: $dark;
		}

		textarea {
			height: 150px;
		}

		input,
		textarea {
			width: 90%;
			margin-bottom: 20px;
			background: #FFFFFF;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 5px;
			border: none;
			padding: .5em 5%;
			font-family: 'Roboto', Arial, Helvetica, sans-serif;
			font-weight: normal;
			font-style: normal;
		}

		input[type='submit'] {
			width: 100%;
			background-color: $dark;
			color: $light;
			text-transform: uppercase;
			font-family: 'Modern Machine', Arial, Helvetica, sans-serif;
			font-weight: normal;
			font-style: normal;
			font-size: 1.125em;
			border-radius: 5px;
			padding: 1em 0em;
			display: block;
			position: relative;
			cursor: pointer;

			@include tamanho-tela('desktop-up') {
				width: 40%;
				float: right;
				font-size: 1.4em;
				padding: .5em 0px;
				transition: .2s ease-in-out;

				&:hover {
					background-color: $light;
					color: $c-pri;
				}
			}
		}
	}

	.infos-contato {
		margin-top: 90px;

		@include tamanho-tela('tablet') {
			width: 600px;
			margin: 90px auto 0px;
		}

		@include tamanho-tela('desktop-up') {
			margin: 0px 0px 60px 0px;
		}

		.mapa {
			margin-bottom: 60px;

			.faixada {
				img {
					border-radius: 16px 16px 0px 0px;
					display: block;

					@include tamanho-tela('desktop-up') {
						width: 512px;
						margin: 0 auto;
					}
				}
			}

			.localizacao {
				@include tamanho-tela('desktop-up') {
					position: relative;
					width: 512px;
					height: 150px;
					margin: 0 auto;

					&:hover {
						&::after {
							content: 'Clique aqui para abrir o mapa';
							font-family: 'Modern Machine', Arial, Helvetica, sans-serif;
							font-style: normal;
							font-weight: normal;
							font-size: 1.5em;
							color: $light;
							position: absolute;
							top: 50%;
							left: 50%;
							width: 50%;
							transform: translate(-50%, -50%);
						}

						&::before {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							background-color: rgba($dark, 0.6);
						}
					}
				}

				img {
					width: 100%;
					height: 150px;
					object-fit: cover;
					object-position: center;

					@include tamanho-tela('desktop-up') {
						width: inherit;
					}
				}
			}
		}

		.infos {
			display: flex;
			flex-wrap: wrap;

			@include tamanho-tela('tablet') {
				width: 520px;
				margin: 0 auto;
			}

			@include tamanho-tela('desktop-up') {
				flex-wrap: nowrap;
			}

			.description {

				&.idados {
					margin-bottom: 1em;
					width: 100%;
					order: 2;
					margin-top: 1.5rem;

					@include tamanho-tela('desktop-up') {
						margin-top: 0px;
					}

					ul {
						@include tamanho-tela('desktop-up') {
							flex-wrap: wrap;
						}

						li {
							@include tamanho-tela('desktop-up') {
								width: 100%;
							}

							a {
								@include tamanho-tela('desktop-up') {
									display: flex;
									align-items: center;

									img {
										width: 20px;
										height: 20px;
										margin-right: 10px;
									}
								}
							}
						}
					}
				}

				&.redes-sociais {
					width: 100%;
					order: 1;

					.tit {
						font-size: 1.1em;
						color: $destaque-two;
						margin-bottom: 20px;
						display: none;

						@include tamanho-tela('desktop-up') {
							text-align: left;
							font-size: 1.2em;
						}
					}

					ul {
						li {
							&:nth-child(1) {
								order: 2;

								a {
									&:hover {
										background-color: $face;
									}
								}
							}

							&:nth-child(2) {
								order: 3;

								a {
									&:hover {
										background-color: $inst;
									}
								}
							}

							&:nth-child(3) {
								order: 1;

								a {
									background-color: $wpp;
								}
							}
						}
					}
				}

				ul {
					display: flex;
					justify-content: space-around;

					@include tamanho-tela('desktop-up') {
						justify-content: flex-start;
					}

					li {
						text-align: left;
						margin-bottom: 20px;

						@include tamanho-tela('desktop-up') {
							margin-right: 20px;

							&:hover {
								a {
									color: $light;
								}
							}
						}

						.icon-r {
							background: $dark;
							display: flex;
							justify-content: center;
							align-items: center;
							flex-direction: row;
							height: inherit;
							border-radius: 50%;
							width: 42px;
							height: 42px;
							padding: .5em;

							@include tamanho-tela('desktop-up') {
								padding: .2em;
							}

							img {
								width: 32px;

								&.facebook {
									width: 20px;
								}
							}
						}

						a {
							color: $dark;
							display: block;
							width: 100%;

							.icon {
								background: $dark;
								width: 42px;
								height: 42px;
								padding: .5em;
								border-radius: 50%;
								display: inline-block;
							}

							.dado {
								display: none;

								@include tamanho-tela('desktop-up') {
									display: block;

									&.df {
										flex: 1;
									}
								}
							}
						}
					}
				}

				.link-redes {
					color: $dark;
					display: none;
					font-size: 1.125em;
					margin-bottom: 8px;

					@include tamanho-tela('desktop-up') {
						display: block;
						text-align: left;

						&:hover {
							color: $light;
						}
					}
				}
			}
		}
	}

	.text-direitos {
		font-size: 1.125em;
		padding: 2rem 0 0 0;
		width: 100%;

		@include tamanho-tela('desktop-up') {
			text-align: left;
			font-size: 1.2em;
			padding: 1rem 0;
			color: $dark;
			width: 512px;
			margin: 0 auto;
		}
	}
}

// área dev	
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

.footer-dev {
	display: block;
	width: 100%;
	background: linear-gradient(270deg, #EEAA55 0%, #FF4E81 100%);
	color: $dark;
	font-family: 'Nunito',
		sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1.33em;

	.dep {
		color: $dark;
	}

	p {
		transition: .4s ease-in-out;
		padding: .9em 0px .9em 0px;
		font-size: 1em;

		@include tamanho-tela('desktop-up') {
			padding-right: 20px;
			text-align: right;
			font-size: .8em;
			display: block;
		}

		a {
			transition: .2s linear;
		}

		&:hover {
			a {
				color: #FF4E81;
			}
		}
	}

	@include tamanho-tela('desktop-up') {}

	a {
		color: $light;
	}
}
