.pre-header {
	display: none;

	@include tamanho-tela('desktop-up') {
		width: 1140px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		color: $light;
		font-size: 1.125em;

		.pre-email,
		.pre-phone {
			display: flex;
			align-items: center;
		}

		.pre-phone {}

		a {
			color: $light;
		}

		ul {
			padding: .9em 0px;
			display: flex;
			justify-content: space-between;
			width: 170px;

			li {
				width: 36px;
				height: 36px;
			}

			a {
				background-color: $c-ter;
				width: inherit;
				height: inherit;
				display: block;
				position: relative;

				img {
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}

header {
	position: fixed;
	height: 70px;
	width: 100%;
	top: 0;
	z-index: 999;

	@include tamanho-tela(desktop-up) {
		position: relative;
	}
}

.menu-responsivo {
	padding: .3em .5em;

	img {
		width: 54px;
		height: 54px;
	}

	@include tamanho-tela(desktop-up) {
		display: none;
	}
}

.header-contain {
	position: relative;
	height: inherit;

	@include tamanho-tela('desktop-up') {
		display: flex;
		justify-content: flex-end;

		// efeito poste
		&::before {
			content: '';
			position: absolute;
			background: url('../../public/imgs/efeito-poste.png') repeat-x;
			background-size: contain;
			background-position: right;
			width: 100%;
			height: 40px;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.header {
	background-color: $c-ter;
	padding: 0;
	top: 0;
	position: fixed;
	width: 100%;
	height: inherit;

	@include tamanho-tela(desktop-up) {
		position: relative;
		width: 1140px;
		margin: 0 auto;

		// efeito base poste
		&::after {
			content: '';
			height: 80px;
			width: 100%;
			position: absolute;
			top: -10px;
			right: -95%;
			background-color: $c-pri;
			border: 5px solid $c-ter;
			transform: skew(40deg, 0deg);
		}
	}

	.p-header {
		width: 100%;
		height: inherit;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		padding: 0em .5em;
		margin: 0;

		img {
			width: auto;

			@include tamanho-tela(tablet) {
				width: 42px;
			}
		}
	}

	.itens-menu {
		display: none;

		.list-m {
			width: 100%;
			position: relative;
			background-color: $c-sec;
			padding: 1em 0;

			a {
				color: $dark;
				display: block;
				padding: .5em 1em;
				text-transform: uppercase;
				font-size: 1.125em;
				text-align: right;
			}
		}

		.list-p {
			padding: 1em;
			display: flex;
			justify-content: center;
			background-color: $c-ter;

			a,
			li {
				width: 36px;
				height: 36px;
			}

			a,
			li,
			img {
				display: block;
			}

			li {
				margin: 0px .5em;
				background-color: $dark;

				a {
					div {
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: row;
						height: inherit;
					}
				}

				&.facebook {
					img {
						align-self: flex-end;
					}
				}
			}
		}
	}
}
